<?xml version="1.0" encoding="UTF-8"?>
<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>To do List</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/views/index.html</welcome-file>
	</welcome-file-list>
	<servlet>

		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.toba.banking.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>newCustomerServlet</servlet-name>
		<servlet-class>com.toba.banking.NewCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newCustomerServlet</servlet-name>
		<url-pattern>/newCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newCustomerServlet</servlet-name>
		<url-pattern>/newCustomer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>transaction</servlet-name>
		<servlet-class>com.toba.banking.TransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>transaction</servlet-name>
		<url-pattern>/transaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transaction</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error_404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/error_java.jsp</location>
	</error-page>
</web-app>